@model MVCBasics.Models.MeViewModel
@{
    ViewData["Title"] = "Me Index";
}

<h1>Hello, World!</h1>
<p>Name: @Model.Name</p>
<p>Email: @Model.Email</p>

<h2>Other info</h2>
<p>Type of ViewBag: @ViewBag.GetType()</p>
